.blake{
    position: relative;
    left: 130px;
}
.rob{
    position: relative;
    left: 130px;
    
}
.pat{
    position: relative;
    left:130px;
}
.ethan{
    position: relative;
    left:130px;
}

