.h3 {
    color: blue;
}
.rob{
    position: relative;
    left: 130px;
    
}
.pat{
    position: relative;
    left:130px;
}
.ethan{
    position: relative;
    left:130px;
}
.div-row {
    position: relative;
}