.about .p-text {
    font-size:1.1rem!important;
}
.about .stack-icon{
    display:inline-block;
    vertical-align: initial;
    height:90px;
}
.about .hide {
    visibility: hidden;
}
.about .show {
    visibility: visible;
}

.about .img-align{
    position: relative;
    left: 100px;
}
.about .img-props {
    height:150px;
    width:150px;
}
.about .about-header {
    background-image: url("http://localhost:3000/images/about-page/cross-love.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.about .about-header h1 {
    text-shadow: -1px -1px black, 1px 1px white;
    color:#FFF2F1;
}
.about .about-header p {
    color: #333232;
}
.icoGitHub:hover{
    background-color:#444;
}
.fa-github:hover {
    color:white;
}