.login-div {
    margin: 225px 50px 75px 650px;
    width:200px;
    height: 200px;
    padding: 100px 20px 120px 35px;
    border-radius: 35px;
    background: linear-gradient(225deg, #ddd7d7, #ffffff);
    box-shadow:  25px 5px 15px #cfc9c9, 
             5px -5px 15px #ffffff;
    margin-bottom: 50px;
          
    
}
  
.title {
    font-size: larger;
   text-align:center ;
   vertical-align: middle;
   align-self: top;
}

.img {
  size: 700px;
}
