.recipe-details .image img {
    width:400px;
    height:auto;
}
.recipe-details .save-recipe {
    position: absolute;
    bottom:40px;
    left:70px;
    z-index: 2;
    width:300px!important;
    font-size:14px;
    background-color: #f52626;
    border:1px solid #f52626;
}
.recipe-details .save-recipe:hover {
    background-color: #cc1e1e;
    border:1px solid #cc1e1e;
    color: rgb(245, 221, 4);
}
.recipe-details .recipe-stats {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-details .recipe-description {
  font-size: 1.4rem;
}
.recipe-details .ingredients {
  _padding-top: 50px;
}
  
  