.main-body {
    height:100vh;
    width:100%;
}
div.main-body .header{
    display: flex;
    justify-content: center;
    height:15%;
}
div.main-body .title {
    height:100%;
    display:flex;
    align-items: center;
    font-size:2em;
    margin-right:50px;
}
div.main-body .search-bar {
    display:flex;
    align-items: center;
    font-size:1.5em;
    margin-left:50px;
    position: relative;
}
div.main-body .search-bar input {
    width:180px;
    height:20px;
    border-radius: 25px;
}
div.main-body .search-icon {
    font-size:16px;
    position: absolute;
    right:10px;
}

div.main-body .no-matches {
    margin: 0 auto;
}

div.main-body .recipes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
div.main-body .recipe-card {
    flex: 0 0 200px;
    margin: 10px;
    _border: 1px solid #ccc;
    box-shadow:  2px 2px 6px 0px rgba(0,0,0,0,0.3);
}

div.main-body .recipe-card .recipe-image {
    width:400px;
    height:200px;
    _border:1px solid black;
    display:flex;
    justify-content: center;
}
div.main-body .recipe-card .recipe-image img{
    width:auto;
    height:100%;
}
div.main-body .recipe-card .recipe-body {
    width:400px;
    height:150px;
    _border:1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
}
div.main-body .recipe-body .recipe-title {
    font-size:24px;
}
div.main-body .recipe-body .recipe-author {
    font-size:18px;
    margin-top:5px;
}
div.main-body .recipe-body .recipe-stats {
    width:100%;
    margin-top:10px;
    display:flex;
    justify-content: center;
}
div.main-body .recipe-body .recipe-stats .cook-time, .difficulty{
    margin:0px 20px;
}

div.main-body .flex-center {
    margin: 0 auto;
    width:90%;
}