div.title {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.page-container {
    display: inline-block!important;
    margin: 5px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.row2 {
    width: 100%;
    margin: 0px auto;
}

.recipeFormLeft {
    padding: 10px;
    border-right: 1px solid black;
    max-width: 40%;
}
.displayImage {
    padding: 10px;
    max-width: 40%;
}

.fileUpload, .fileUpload input {
    margin: 0px auto;
    text-align: center;
}

.fileUpload input {
    padding: 10px;
}

input, select, option, button, label, textarea {
    font-size: 1.2em;
    width: 80%;
    padding: 5px;
    margin: 5px auto;
}

#imagePreview {
    width: 40%;
    
}

.ingList div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.ingList div input, .ingList div label {
    width: 30%;

}
textarea {
    width: 100%;
}
.addRemove {
    max-width: 270px;
    margin: 5px;

}